<!DOCTYPE html>
<html>
  <head>
    <title>Meter Web App</title>
  </head>

  <body>
    <form  action="/" method="post">
    <p> <input type="submit" name="submit" value="Read Energy"  > {{energy}} kWh </p> 
    <p> <input type="submit" name="submit" value="Read Voltage" > {{voltage}} V </p> 
    <p> <input type="submit" name="submit" value="Read Current" > {{current}} A  </p> 
    <p> <input type="submit" name="submit" value="Read Power" > {{power}} kW  </p> 

    <p> <input type="submit" name="submit" value="Load Switch" ></p> 
    <p> <input type="submit" name="submit" value="Read Date" > {{date}} </p> 
    <p> <input type="submit" name="submit" value="Read Time" > {{time}} </p> 
    <p> <input type="submit" name="submit" value="Read Battery" > {{battery}} V </p> 
    <p> <input type="submit" name="submit" value="Read Temperature" > {{temperature}} &#8451; </p> 
    </form>

  </body>
</html>
